<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyStoreIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MyStoreIntegration.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>24BDA73B-4C22-C88C-966A-B1D7BE53E1B1@MyStore</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>86hSHkP2I7FtYOEd8GbjbA</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>api</value>
            </setting>
            <setting name="IdentityEndpoint" serializeAs="String">
                <value>https://acu-demos.us/mystoreinstance/identity/</value>
            </setting>
        </MyStoreIntegration.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultSoap" />
        <binding name="Acumatica" allowCookies="true" maxReceivedMessageSize="6553600" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://acu-demos.us/mystoreinstance/entity/Default/18.200.001"
        binding="basicHttpBinding" bindingConfiguration="Acumatica"
        contract="Default.DefaultSoap" name="DefaultSoap" />
    </client>
  </system.serviceModel>
</configuration>